/* #ifdef H5 */
@font-face {
	font-family: "aeFont";
	src: url('/static/font/aeFont.ttf');
}
div {
	font-family: aeFont;
	-webkit-text-stroke: 0.8px #000000;
}
/* #endif */

/* #ifdef MP-WEIXIN */
div{
	font-family: aeFont;
	-webkit-text-stroke: 0.4px #000000;
}
/* #endif */

