$imgSize:32px;
$iconSize:40px;
$editIconSize:21px;
$actionSize:26px;
$clickPoint:34px;
$choosePoint:52px;
$size6:9px;
$size7:10px;
$size8:11px;
$size9:12px;
$size11:15px;
.big-img {
    width: $imgSize;
    height: $imgSize;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}
.big-icon-img {
    width: $iconSize;
    height: $iconSize;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}
.big-edit-icon{
    width: $editIconSize;
    height: $editIconSize;
}
.big-action-size {
    width: $actionSize;
    height: $actionSize
}
.big-lifec-size {
    width: $size8;
    height: $size11
}
.big-click-point {
    width: $clickPoint;
    height: $clickPoint;
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}
.big-choose-point {
    width: $choosePoint;
    height: $choosePoint;
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.big-img-size {
    width: $imgSize;
    height: $imgSize;
}
.big-status-size {
    right:5px;
}
.big-status-size img {
    width: $size7;
    height: $size9;
}
.big-left-size {
    width: $size6;
    height: $size7;
}
.big-unit-life-num {
    margin-top: $imgSize - $size7;
}
.big-unit-life-num img {
    position: relative;
    float: left;
    width: $size6;
    height: $size7;
}
.big-unit-level {
    position: relative;
    margin-right: $size9;
    float: right;
}
.big-unit-level img {
    width: $size9;
    height: $size11;
}