$imgSize:32px;
$iconSize:40px;
$editIconSize:21px;
$actionSize:26px;
$clickPoint:34px;
$choosePoint:52px;
$size6:9px;
$size7:10px;
$size8:11px;
$size9:12px;
$size11:15px;
@import './stand-unit-size.scss';