.stand-img {
    width: 24px;
    height: 24px;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.upload-img-icon {
    width: 32px;
    height: 32px;
}

.fixed-img {
    width: 24px;
    height: 24px;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.stand-action-size {
    width: 20px;
    height: 20px
}

.stand-lifec-size {
    width: 8px;
    height: 11px
}

.stand-click-point {
    width: 26px;
    height: 26px;
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.stand-choose-point {
    width: 40px;
    height: 41px;
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.stand-attach-view {
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
}

.stand-move-view {
    position: absolute;
    /* #ifdef H5*/
    cursor: pointer;
    /* #endif */
    width: 48px;
    height: 24px;
    clip: rect(0px, 48px, 24px, 24px);
}

.fixed-img-size {
    width: 24px;
    height: 24px;
}

.stand-img-size {
    width: 24px;
    height: 24px;
}

.stand-status-size img {
    width: 7px;
    height: 9px;
}

.stand-left-size {
    width: 6px;
    height: 7px;
}

.stand-unit-life-num {
    margin-top: 17px;
}

.stand-unit-life-num img {
    position: relative;
    float: left;
    width: 6px;
    height: 7px;
}

.stand-unit-level {
    position: relative;
    margin-right: 9px;
    float: right;
}

.stand-unit-level img {
    width: 9px;
    height: 11px;
}